# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/dev_version/dev_src/test/test_function/gift.h
/dev_version/dev_src/src/GPATH
/dev_version/dev_src/src/GRTAGS
/dev_version/dev_src/src/GTAGS
*.cmake
*.make
*.cmake
/dev_version/dev_src/testCMAKE/testc11
/dev_version/dev_src/testCMAKE/CMakeFiles/testc11.dir/link.txt
/dev_version/dev_src/testCMAKE/CMakeFiles/testc11.dir/depend.internal
/dev_version/dev_src/testCMAKE/CMakeFiles/feature_tests.c
/dev_version/dev_src/testCMAKE/CMakeFiles/testc11.dir/CXX.includecache
/dev_version/dev_src/CMakeCache.txt
/dev_version/dev_src/CMakeFiles/3.4.1/CMakeDetermineCompilerABI_C.bin
/dev_version/dev_src/CMakeFiles/3.4.1/CMakeDetermineCompilerABI_CXX.bin
/dev_version/dev_src/CMakeFiles/3.4.1/CompilerIdC/CMakeCCompilerId.c
/dev_version/dev_src/testCMAKE/CMakeFiles/3.4.1/CMakeDetermineCompilerABI_C.bin
*.txt
/dev_version/dev_src/CMakeFiles/3.4.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/dev_version/dev_src/build/bin/gift
/dev_version/dev_src/build/temlibboost
/dev_version/dev_src/test/test_function/EMGift.cpp
/dev_version/dev_src/test/test_function/functionsGift.cpp
/dev_version/dev_src/test/test_function/gift.hpp
/dev_version/dev_src/test/test_function/main.cpp
/dev_version/dev_src/test/test_function/parameterGift.cpp
/dev_version/dev_src/test/test_script/gift
/dev_version/dev_src/testCMAKE/CMakeFiles/3.4.1/CompilerIdC/CMakeCCompilerId.c
/dev/doc/.DS_Store
*.internal
/.DS_Store
/materials/.DS_Store
/materials/posts/.DS_Store
/dev/testCMAKE/build/testRead
/dev/testCMAKE/testRead
/data/.DS_Store
